snippet class "creating class and method for java" b
public class ${1:className} {
    public static void main(String[] args) {
		${2:System.out.println($3);}
     }
}
endsnippet

snippet println "Print function" i
System.out.println("$1\n");
endsnippet

snippet print "Print function" i
System.out.println($1);
endsnippet
